[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest-django = "*"
pytest-cov = "*"
psycopg2 = "*"
django-countries = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "4.8.0"
drf-yasg = "*"
djoser = "*"
pyjwt = "==2.1.0"
django-debug-toolbar = "*"
django-filter = "*"
celery = {extras = ["redis"], version = "*"}
flake8 = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.9"
